.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6.5%;
  min-height: 100vh;

}

.navBarContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  position: sticky;
}

.navBarContainer h1 {
  position: relative;
  margin: 0;
  padding: 1rem;
  font-size: 20px;
  font-family: sans-serif;
}

.navBarIcons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBarIcons h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logInContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logInContainer span {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.showcaseLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.showcaseLogo .logo {
  width: 500px;
  height: 500px;
}




.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: 100%;
  padding: 5px;
  background-color: aliceblue;
  margin-top: 3%;
}

.grid {
  padding: 1rem 1.2rem;
  text-decoration: none;
  background-color: rgba(36, 145, 240, 0.692);
  margin: 10px;
  border-radius: 5px;
}



.grid h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
  color: #101357;
}

.grid p {
  margin: 0;
  opacity: 0.9;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
  color: #101357;
}

.headerAskQuestion {
  margin-top: 8%;
}

.searchQuestionsContainer {
  width: 100%;
  height: 100vh;
  min-height: 70vh;
  overflow-y: scroll;
  background-color: #101357;
  border-radius: 5px;
  margin-top: 2%;
}

.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  margin-top: 3%;
  top: 0;
}

.searchBar span {
  color: #ffff;
}

.searchBar input {
  width: 800px;
  height: 50px;
  background-color: #101357;
  border: 1px solid #ffff;
  text-align: center;
  color: #ffff;
  border-radius: 5px;
  font-size: 16px;
  letter-spacing: 2px;
}

.searchBar input::placeholder {
  color: #cccccc;
  font-size: 15px;
  letter-spacing: 2px;
}

.listQuestions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}


.listQuestions ul li {
  color: #ffff;
  list-style: circle;
  letter-spacing: 2px;
  font-size: 20px;
  margin-top: 20px;
}


.feedBack {
  background-color: aliceblue;
  margin-top: 2%;
  width: 50%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inputFields .fieldOne {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-weight: 700;
}

.inputFields .fieldOne input {
  width: 300px;
  height: 40px;
}


.inputFields .fieldTwo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2%;
  font-weight: 700;
}

.inputFields .fieldTwo input {
  width: 300px;
  height: 70px;
}


.inputFields .submitBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.inputFields .submitBtn button {
  padding: 3px;
  width: 100px;
  height: 40px;
  background-color: #101357;
  color: #ffff;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
}


.userMessageContainer {
  margin-top: 6%;
  width: 70%;
  height: 40vh;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subUserMessage {
  width: 23%;
  height: 65%;
  border-radius: 50%;
  background-color: #101357;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 10px;
}

.subUserMessage .userName {
  color: #cccc;
}

.subUserMessage .userName h1 {
  font-weight: 100;
  font-size: 25px;
}

.subUserMessage .userMessage {
  width: 60%;
  color: #fff;
  font-family: sans-serif;
  letter-spacing: 1px;
  margin-top: 2%;
}

.footer {
  margin-top: 5%;
  width: 100%;
  height: 50vh;
  background-color: #101357;
  border-top-left-radius: 50%;
}

.itemsFooter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 10% 8%;
  width: 100;
}

.firstItem h1 {
  color: #fff;
  letter-spacing: 3px;
  font-size: 20px;
}

.footerLinks ul li {
  list-style: none;
  color: #fff;
  font-size: 20px;
}

.lastItems {
  display: flex;
}

.lastItems h1 {
  margin-left: 15px;
  color: #fff;
}

.bottomFooter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomFooter h1 {
  font-size: 15px;
  color: #ccc;
}

.footerLinks1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerLinks1 ul li {
  list-style: none;
  color: #fff;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 1px;
  display: flex;
  margin-top: 10px;
  align-items: center;
}


@media (max-width: 700px) {
  .main {
    width: 100%;
    padding: 10px;
    justify-content: center;
  }

  .navBarContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: none;
  }

  .navBarContainer h1 {
    padding: 0;
    font-size: 17px;
    height: 20px;
  }

  .navBarIcons h1 {
    margin: 10px;
  }

  .showcaseLogo .logo {
    width: 300px;
    height: 300px;
  }

  .gridContainer {
    display: flex;
    flex-direction: column;
  }

  .headerAskQuestion h1 {
    font-size: 20px;
  }

  .searchQuestionsContainer {
    height: 70vh;
  }

  .listQuestions ul li{
    font-size: 14px;
    margin-left: 40px;
    list-style: circle;
  }

  .searchBar input {
    width: 330px;
  }

  .feedBack {
    width: 100%;
    margin-top: 6%;
  }

  .feedBack .header h1 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .inputFields .fieldOne label {
    margin-bottom: 5px;
  }

  .inputFields .fieldTwo label {
    margin-bottom: 5px;
  }

  .inputFields .fieldTwo {
    margin-top: 20px;
  }

  .userMessageContainer {
    width: 100%;
  }

  .subUserMessage {
    width: 35%;
    height: 60%;
    border-radius: 0;
    justify-content: flex-start;
  }

  .subUserMessage .userName h1 {
    font-size: 18px;
    margin-top: 20px;
  }

  .subUserMessage .userMessage {
    font-size: 15px;
    width: 100%;
    letter-spacing: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    font-weight: 100;
  }

  .footer {
    width: 100%;
    height: auto;
    border-top-left-radius: 30%;
  }

  .itemsFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .firstItem h1 {
    font-size: 17px;
  }

  .footerLinks ul li {
    display: none;
  }

  .footerLinks1 {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footerLinks1 ul li {
    font-size: 17px;
  }
}